/* Set the background gradient for the page */
body, html {
  height: 100%;
  background: linear-gradient(to bottom, #f0f2f0, #000c40);

}
/* Create a flex container for the array elements and set the margin */
.array-container {
  display: flex;
  margin: 20px 0;
}

/* Style each individual array element */
.array-element {
  padding: 1px;
  margin: 2px;
  flex: 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  background-color: rgb(86, 86, 233);
}

/* Style the buttons */
button {
  margin: 10px;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the button on hover */
button:hover {
  background-color: navy;
}

/* Style the active array element */
.array-element.active {
  background-color: #eca79e;
}

/* Style the sorted array element */
.sorted {
  background-color: #68d579;
}